node_modules/
dist/
build/
*.exe
*.dmg
*.AppImage
*.deb
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.cab
*.msi
*.msix
*.msm
*.msp
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db